/* .gugudan{
    display: flex;
    align-items: center;
}
.eachgugudan{
    display : inline-block;
    border : 2px solid red;
    padding : 10px;
    line-height : 2;
    margin : 10px;
}

h3{
    text-align: center;
} */